@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img {max-width: 100%;}

body {
  background-color:#24292e;
  font-family: "Kumbh Sans", sans-serif;  
  text-align: center;    
  padding-bottom: 100px;
}

main {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;      
}

.devicon-github-original{
  font-size: 60px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.section{padding: 50px 0 0px;}

.container {
  width: 60%; /* se for uma tela menor que 980px vai se adaptar a 70% */
  max-width: 960px; /* quando chegar em 980px para de aumentar */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;  
  cursor: pointer;
  border: 1px solid grey;
}

.container header #btn-search:hover {
  background-color: hotpink;
  color: #ffffff;
  border-color: #ffffff;
}

.container .profile-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;  
}

.container .profile-data .info {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
}

.container .profile-data .info .data{
  padding: 40px;
  width: 50%;
}

.container .profile-data .info img{
  width: 50%;
  border-radius: 50%;
  border: 10px solid hotpink;
}

.container .profile-data .info h1{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p{
  font-size: 15px;  
  font-weight: 400;
  line-height: 23px;
}

/* REPOSITORIES */

.container .profile-data .repositories h2,
.container .profile-data .events h2{
  margin-bottom: 20px;
  text-align: center;
}

.container .profile-data .repositories ul,
.container .profile-data .events ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repositories ul li.each-repo{
  position: relative;
  padding: 10px;
  border: 1px solid grey;  
  margin: 10px;
  border-radius: 7px;
  transition: all .6s ease;
  overflow: hidden;
}

.repositories ul li.each-repo:hover{box-shadow: rgba(255, 105, 180, 0.2) 0px 15px 25px, rgba(255, 105, 180, 0.4) 0px 5px 10px;}

.repositories ul li.each-repo::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, white);
  opacity: 0;
  transition: all .4s linear;
}

.repositories ul li.each-repo:hover::before{
  background-image: linear-gradient(to bottom, hotpink 5%, #ff90c8 35%, transparent);
  opacity: 1;
}

.repositories ul li.each-repo ul li{
  position: relative;
  border: 1px solid grey;
  padding: 8px;
  margin: 10px 5px;
  border-radius: 7px;
  background-color: #eeeeee;
}

.repositories ul li.each-repo:hover ul li{
  background-color: rgba(255, 255, 255, 0.3);
  border-color: grey;
}

.repositories ul li.each-repo a{
  position: relative;
  transition: .2s ease-out;
}

.repositories ul li.each-repo a:hover{
  color: #000;
  cursor: pointer;
}

.repositories ul li.each-repo:hover a::after{
  transition: .7s ease-out;
  border-radius: 7px;
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  z-index: 0;
  width: 100%;
  scale: .1;
  height: 1px;
}

.repositories ul li.each-repo a:hover::after{
  left: 0;
  background: radial-gradient(circle, #000 40%, #ff90c8 100%);
  scale: 1;
}

.container .profile-data.hide{display: none;}

.container .profile-data .events ul li{
  padding: 10px 10px 14px;
  border: 1px solid grey;  
  margin: 20px 10px;
  display: block;
  border-radius: 7px;
  max-width: 314px;
  position: relative;
  overflow: hidden;
}

.container .profile-data .events ul li::after{
  transition: .4s ease-out;
  border-radius: 7px;
  position: absolute;
  bottom: -1px;
  right: 0;
  content: "";
  z-index: 0;
  width: 0;
  height: 4px;
  background-color: hotpink;
}

.container .profile-data .events ul li:hover::after{
  width: 100%;
  left: 0;
}

.events ul li span{font-weight: 600;}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
  }

  .container header {width: 100%;}

  .container header h1 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container header #input-search,
  .container header #btn-search{width: 100%;}

  .container .profile-data .repositories,
  .container .profile-data .events{margin: 0 -40px;}
}

@media (max-width: 425px) {
  main {padding: 15% 0;}

  .container .profile-data .info img{
    margin: 0 auto 30px;
    /* max-width: 100%; */
  }

  .container .profile-data .info img,
  .container .profile-data .info .data{
    width: 100%;
    padding: 0;
  }
}
